@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&family=IBM+Plex+Sans:wght@100..700&display=swap');
$background-color: #fffcf2;
$secondary-color: #0e532b;
/* #0f572d */

$header-font: "IBM Plex Mono", "Courier New", monospace;
$body-font: "IBM Plex Sans", Arial, sans-serif;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $background-color;
    color: $secondary-color;
    font-family: $body-font;
    line-height: 1.4;
    font-size: 16px;
}

p {
    max-width: 60ch;
}

h1,
h2,
h3 {
    font-family: $header-font;
}

a {
    color: #000000;
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Formulär */
label {
  display: block;
  margin-top: 0.25rem;
}

input {
  width: 100%;
  padding: 0.8rem;
  min-height: 44px;
  font-size: 18px;
  border: 1px solid #D9D9D9;
  border-radius: 8px;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  cursor: text;
}