@use "base";
@use "keyframes";

.container {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
}

.hidden {
    display: none;
}

/* HEADER */
.header {
    position: absolute;
    inset: 0% 0% auto;
    z-index: 100;

    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: transparent;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;

        .logo-mobile {
            display: none;
            padding: 0.5rem 1rem;
        }

        .logo {
            padding: 0.5rem 1rem;

            img {
                max-width: 265px;
            }
        }

        /* Mobil navigering */
        .menu-btn {
            display: none;
            background-color: transparent;
            width: auto;
            z-index: 1000;
            border: none;
            padding: 0.5rem 1rem;

            span {
                display: block;
                background-color: base.$primary-color;
                width: 26px;
                height: 3px;
                margin-top: 5px;
            }
        }

        .nav {
            font-family: base.$header-font;
            font-size: 24px;
            text-transform: uppercase;
            padding: 0.5rem 1rem;

            .nav-links {
                display: flex;
                gap: 2.5rem;
                font-weight: 400;

                a {
                    color: base.$primary-color;
                    padding: 0.5rem;

                    &:hover {
                        text-decoration: underline;
                        text-underline-offset: 2px;
                    }
                }
            }
        }
    }
}

/* FOOTER */
.footer {
    padding: 4rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 4rem;

    .footer-contact {
        display: flex;
        flex-direction: column;
        gap: 6px;

        a {
            text-decoration: underline;
            text-underline-offset: 2px;
        }
    }

    img {
        max-width: 150px;
        margin-bottom: 1rem;
    }

    .admin-link {
        font-size: 14px;
        padding: 8px;
        margin-top: 3rem;
    }
}

/* HERO INDEX */
.hero {
    display: flex;
    min-height: 100vh;
    border-bottom: 1px solid #0e532b;

    .hero-image {
        width: 50%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: brightness(80%)
        }
    }

    .hero-content {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 2rem 1.5rem;
        gap: 2rem;
        text-align: center;

        .cta-btn {
            font-size: 18px;
            padding: 1rem 1.5rem;
            text-transform: uppercase;
        }
    }
}

/* INNEHÅLL STARTSIDA */
#menu,
#about,
#booking {
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    border-bottom: 1px solid base.$primary-color;
}

#about {
    background-color: #fffcf2;
    background-image: linear-gradient(90deg, rgba(177, 56, 45, 0.05) 50%, transparent 0),
        linear-gradient(rgba(177, 56, 45, 0.05) 50%, transparent 0);
    background-size: 145px 145px;
}

.section-header {
    text-align: center;
    margin-bottom: 2rem;
}

.menu-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5rem;
    margin: 0 auto;
    max-width: 1100px;

    .menu-item {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding: 1rem;

        .item-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 1rem;
        }
    }
}

.booking-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    max-width: 500px;

    #booking-form {

        #booking-btn {
            margin-top: 1.5rem;
            width: 100%;
        }
    }

    #booking-confirmation {
        margin-top: 1.5rem;
    }
}

.about-content {
    text-align: center;

    p {
        margin-top: 1.5rem;
    }
}

.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid base.$primary-color;
    border-top-color: transparent;
    border-radius: 50%;
    animation: rotate 0.8s infinite linear;
    margin: 1rem auto;
}

/* INLOGGNING */
.login-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    padding: 1.5rem 1rem;
    margin-top: 3rem;

    .login-header {
        margin-bottom: 1rem;
    }

    #login-btn {
        margin-top: 1.5rem;
        width: 100%;
    }

    img {
        max-width: 100px;
        margin-bottom: 2.5rem;
        align-self: center;
    }
}

/* Errormeddelanden/bekräftelse formulär */
#message,
#error,
#booking-error {
    color: #dc143c;
    margin-top: 0.5rem;
    list-style-type: disc;
}

#confirmation,
#booking-confirmation {
    color: base.$primary-color;
    padding-bottom: 10px;
}

.input-error {
    border: 1px solid #dc143c;
}

/* ADMINSIDA */
.admin-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background: transparent;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 0.5rem 1rem 2rem 1rem;
    border-bottom: 1px solid base.$primary-color;
    text-align: center;

    img {
        max-width: 100px;
    }
}

.admin-section {
    width: 100%;
    padding: 3rem;
    border-bottom: 1px solid base.$primary-color;

    .admin-section-content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        gap: 4rem;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;

        h2 {
            margin-bottom: 1.5rem;
            text-align: center;
        }

        h3 {
            margin-bottom: 0.4rem;
        }

        .admin-section-column {
            max-width: 500px;
            width: 100%;
        }
    }
}

/* Meny- och bokningskort */
.list-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.8rem;
    margin-bottom: 1.6rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    background-color: #FFFFFF;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.02);

    svg {
        width: 18px;
        height: 18px;
        margin-bottom: -1.5px;
    }

    .container-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        flex-shrink: 0;

        .delete-btn {
            background-color: transparent;
            border: none;
            color: #dc143c;
        }
    }
}

@media screen and (max-width: 1000px) {
    .header {
        .header-content {
            .logo {
                img {
                    max-width: 150px;
                }
            }

            .nav {
                .nav-links {
                    font-size: 20px;
                    gap: 1rem;
                    text-align: center;
                }
            }
        }
    }

    .menu-content {
        grid-template-columns: repeat(2, 2fr);
        gap: 4rem;
    }

    .admin-section {
        padding: 12px;

        .admin-section-content {
            grid-template-columns: 1fr;
            padding: 1rem;
        }
    }
}

@media screen and (max-width: 700px) {
    .header {
        position: relative;

        .header-content {
            min-height: 60px;

            .logo-mobile {
                display: block;

                img {
                    max-width: 120px;
                }
            }

            .logo {
                display: none;
            }

            .menu-btn {
                display: block;

                &.active {
                    position: fixed;
                    top: 9px;
                    right: 0;
                }
            }

            .nav {
                display: none;

                &.active {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: fixed;
                    inset: 0;
                    height: 100vh;
                    width: 100vw;
                    background-color: base.$background-color;
                }

                .nav-links {
                    flex-direction: column;
                    gap: 0.5rem;
                    text-align: center;
                    font-size: 20px;

                    a {
                        color: base.$primary-color;
                        font-weight: 700;
                    }
                }
            }
        }
    }

    .hero {
        flex-direction: column;
        min-height: auto;

        .hero-image {
            width: 100%;
            height: 50vh;
        }

        .hero-content {
            width: 100%;
        }
    }

    .menu-content {
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .list-item {
        flex-direction: column;
        align-items: flex-start;

        .container-btn {
            flex-direction: row;
        }
    }

    .footer {
        flex-direction: column;
        align-items: center;

        .footer-contact {
            align-items: center;
        }

        img {
            max-width: 90px;
        }

    }
}